@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "IRANSansX";
  font-style: normal;
  font-weight: 500;

  src: url("/public/IRANSansX-Medium.ttf") format("truetype");
}

body {
  font-family: "IRANSansX", sans-serif;
  margin: 0;

  background-image: url("/background.svg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
}

.container {
  width: max-content;
}

@media (min-width:768px){
.container {
  width: fit-content;
}
}
